  <!doctype html>
  <html>
  <head>
    <title>Autenticação do Usuário</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <!-- build:css css/index.min.css -->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!-- endbuild -->
  </head>
  <body>
    <div class="container">

      <a href="/auth/facebook">
        <h1 class="text-center">Entre pelo Facebook</h1>
      </a>
    </div>
  </body>
  </html>
